<a href="https://colab.research.google.com/github/shrishti-04/DataAnalytics_Pandas_Numpy_Matplotlib_Seaborn/blob/master/DataTypes.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# 1. BOOLEANS

In [1]:
# Boolean values can be represented as one of two constant objects "False" and "True". 
# Booleans behave like integers 0 and 1.
True

True

In [2]:
False

False

In [3]:
stock_1_price = 200
stock_2_price = 300
print(stock_1_price == stock_2_price)

False

**MINI CHALLENGE #1:** 
- **What will this code generate?**
```
stock_1_price = 20
stock_2_price = 30
print((stock_1_price < stock_2_price))
print(stock_1_price == stock_2_price)
```

In [4]:
stock_1_price = 20
stock_2_price = 30

In [5]:
print(stock_1_price < stock_2_price)

True

In [6]:
print(stock_1_price == stock_2_price)

False

# 2. LIST

In [7]:
# A list is a collection which is ordered and changeable. 
# List allows duplicate members.
my_list = [1, 2, 3]
my_list

[1, 2, 3]

In [8]:
# Obtain the datatype
type(my_list)

list

In [9]:
# list with mixed datatypes (for example you can have strings and integers in one list)
my_list = [1, 2, 'GOOGLE', 3, 4]
my_list

[1, 2, 'GOOGLE', 3, 4]

In [10]:
# You can have a list inside another list (nested list)
my_list = [1, 2, ['GOOGLE', 'AMZN', 3], [4, 5], 6]
my_list

[1, 2, ['GOOGLE', 'AMZN', 3], [4, 5], 6]

In [11]:
# Access specific elements in the list with Indexing
# Note that the first element in the list has an index of 0 (little confusing but you'll get used to it!)
my_list = [4, 'GOOGLE', 8]
my_list[0]

4

In [12]:
# indexing for nested lists
my_list = [1, 2, ['GOOGLE', 'AMZN', 3], [4, 5], 6]
my_list[2][0]

'GOOGLE'

In [13]:
my_list = [1, 2, ['GOOGLE', 'AMZN', 3], [4, 5], 6]
my_list[3][1]

5

In [14]:
my_list = [1, 2, ['GOOGLE', 'AMZN', 3], [4, 5], 6]
my_list[2]

['GOOGLE', 'AMZN', 3]

In [15]:
# Negative Indexing
my_list = [1, 2, 'GOOGLE', 3, 4]
my_list[-2]

3

In [16]:

# List Slicing (getting more than one element from a list) 
my_list = [1, 2, 'GOOGLE', 3, 4, 'AAPL', 'AMZN', 5]
my_list

# obtain elements starting from index 3 up to and not including element with index 6  
my_list[3:6]

[3, 4, 'AAPL']

In [17]:
# Obtain elements starting from index 3 to end
my_list[3:]

[3, 4, 'AAPL', 'AMZN', 5]

In [18]:
# All elements start to end
my_list[:]

[1, 2, 'GOOGLE', 3, 4, 'AAPL', 'AMZN', 5]

In [19]:
# Obtain the length of the list (how many elements in the list) 
len(my_list)

8

**MINI CHALLENGE #2:**
- **Print the first, second and last element in the list below**
- **Print all elements in the list, first 3 elements, and last three elements**

```
stocks = ["GOOG", "TSLA", "AAPL", "T", "SP500", "BTC", "EUR/USD"]
```

In [20]:
stocks = ["GOOG", "TSLA", "AAPL", "T", "SP500", "BTC", "EUR/USD"]
stocks

['GOOG', 'TSLA', 'AAPL', 'T', 'SP500', 'BTC', 'EUR/USD']

In [21]:
print(stocks[0])
print(stocks[1])
print(stocks[-1])

GOOG
TSLA
EUR/USD

In [22]:
print(stocks[:3])
print(stocks[-3:])

['GOOG', 'TSLA', 'AAPL']
['SP500', 'BTC', 'EUR/USD']

**MINI CHALLENGE #3:** 
- **Print GOOG**
- **Print AAPL, GOOG, TSLA** 
- **Print T with two different ways**

```
my_list = ["SP500", ["AAPL", "GOOG", "TSLA"], "BTC", "T"]
```

In [23]:
my_list = ["SP500", ["AAPL", "GOOG", "TSLA"], "BTC", "T"]
my_list

['SP500', ['AAPL', 'GOOG', 'TSLA'], 'BTC', 'T']

In [24]:
print(my_list[1][1])

GOOG

In [25]:
print(my_list[1])

['AAPL', 'GOOG', 'TSLA']

In [26]:
print(my_list[-1])

T

# 3. DICTIONARY

In [27]:
# my_dict = {'key1':'value1', 'key2':'value2', 'key3':'value3'}
# Dictionary consists of a collection of key-value pairs. Each key-value pair maps the key to its corresponding value.
# Keys are unique within a dictionary while values may not be. 
# List elements are accessed by their position in the list, via indexing while Dictionary elements are accessed via keys

# Define a dictionary using key-value pairs

my_dict = {'key1': 'value1',
           'key2': 'value2',
           'key3': 'value3'}

In [28]:
# View the dictionary
my_dict

{'key1': 'value1', 'key2': 'value2', 'key3': 'value3'}

In [29]:
# Check the data type
type(my_dict)

dict

In [30]:
# Access specific element in the dictionary using a specific key (ex: Key2)
my_dict['key2']

'value2'

In [31]:
# Define a dictionary for a bank client listing all his/her assets! 
bank_dict = {'Real estate': 15000,
             'Stocks': 10000,
             'Savings': 20000}

bank_dict

{'Real estate': 15000, 'Savings': 20000, 'Stocks': 10000}

In [32]:
# Access elements in the dictionary
bank_dict['Savings']

20000

In [33]:
# Add a new item to an existing dictionary
bank_dict['Crypto'] = 15000
print(bank_dict)

{'Real estate': 15000, 'Stocks': 10000, 'Savings': 20000, 'Crypto': 15000}

In [34]:
# remove an item from the dictionary
del bank_dict['Savings']
print(bank_dict)

{'Real estate': 15000, 'Stocks': 10000, 'Crypto': 15000}

In [36]:
# delete the entire dictionary
# Note that you cannot print it out again because the entire dictionary has been deleted
del bank_dict
print(bank_dict)

NameError: ignored

**MINI CHALLENGE #4:**
- **Create a dictionary with 3 of your favourite stocks and their prices**

In [37]:
fav_dict = {'Netflix': 45000,
            'Google': 65000,
            'Apple': 25000}

fav_dict

{'Apple': 25000, 'Google': 65000, 'Netflix': 45000}

# 4. STRINGS

In [38]:
# A string in Python is a sequence of characters
# String can be enclosed by either double or single quotes
my_string = 'Hello Everyone, Myself Shrishti and I welcome you all in my code source'
my_string

'Hello Everyone, Myself Shrishti and I welcome you all in my code source'

In [39]:
# Obtain the datatype
type(my_string)

str

In [ ]:
# Combining two strings together (Let's combine the first and last name of a bank's client)
first_name = 'Shrishti'
last_name = 'Tiwari'

In [40]:
# You can combine both strings together and add spaces in between
full_name = first_name + ' ' + last_name
full_name

NameError: ignored

In [41]:
# Methods on strings 
# upper will be used to convert the string into upper case
my_string.upper()

'HELLO EVERYONE, MYSELF SHRISHTI AND I WELCOME YOU ALL IN MY CODE SOURCE'

In [42]:
# Split us used to divide up the string into words 
# The output from split is a list
x = my_string.split()
x

['Hello',
 'Everyone,',
 'Myself',
 'Shrishti',
 'and',
 'I',
 'welcome',
 'you',
 'all',
 'in',
 'my',
 'code',
 'source']

In [43]:
# Let's check that the datatype is list!
type(x)

list

In [44]:
# you can index any element in the list using indexing
x[3]

'Shrishti'

In [45]:
# you can specify which letter could be choosed to perform the split
my_str = 'shrishti.tiwari@gmail.com'
y = my_str.split('@')
y

['shrishti.tiwari', 'gmail.com']

**MINI CHALLENGE #5:**
- **Write a code that takes an input from a bank client asking him/her about their feedback regarding the service. The code should split the client input into words and print them on screen**

In [46]:
client_feedback = input('Enter your feedback: ')
x = client_feedback.split()
print(x)

Enter your feedback: I loved this bank
['I', 'loved', 'this', 'bank']

**MINI CHALLENGE #6:**
- **Write a code that prompts a user requesting his/her e-mail and then extracts the user first name (Note that the e-mail is in firstname.lastname@gmail.com**

In [47]:
email = input('Please enter your email id: ')
y = email.split('@')
z = y[0].split('.')
print(z[0])

Please enter your email id: shrishti.tiwari@gmail.com
shrishti

# 5. TUPLES

In [48]:
# A tuple is a sequence of immutable Python objects. 
# Tuples are sequences, just like lists. 
# The differences between tuples and lists are, the tuples cannot be changed unlike lists and tuples use parentheses, whereas lists use square brackets.

In [49]:
tuple_1 = ('Google', 'Apple', 4, 9, 'Microsoft')
tuple_2 = (5, 8, 'Amazon', 7, 'TCS')
type(tuple_1)

tuple

In [50]:
# Accessing elements in a tuple
tuple_1[2]

4

In [51]:
# Tuple slicing
tuple_2[2:4]

('Amazon', 7)

In [52]:
# Changing a value of a tuple does not work! 
# 'tuple' object does not support item assignment
tuple_1[1] = 'Amazon'

TypeError: ignored

In [53]:
# Create a New Tuple from existing Tuples
tuple_3 = tuple_1 + tuple_2
tuple_3

('Google', 'Apple', 4, 9, 'Microsoft', 5, 8, 'Amazon', 7, 'TCS')

**MINI CHALLENGE #7:**
- **Define a tuple with your first name, last name, age and the number of stocks in your portfolio. Find the length and type as well.**

In [54]:
my_tuple = ('Shrishti', 'Tiwari', 21, 4500)
my_tuple

('Shrishti', 'Tiwari', 21, 4500)

In [55]:
len(my_tuple)

4

In [57]:
type(my_tuple)

tuple

# 6. SETS

In [58]:
# A set is an unordered collection of items. Every element is unique (no duplicates).
# A set is created by placing all the items (elements) inside curly braces {}, separated by comma or by using the built-in function set().
# set of integers

my_sets = {'GOOG', 8, 4, 'AMZN', 3}
my_sets

{3, 4, 8, 'AMZN', 'GOOG'}

In [59]:
# set do not have duplicates
my_sets = {'GOOG', 8, 4, 'AMZN', 3, 'GOOG', 16, 4, 'MSFT'}
my_sets

{16, 3, 4, 8, 'AMZN', 'GOOG', 'MSFT'}

**MINI CHALLENGE #8:**
- **Remove the duplicates from the following list:**


```
my_list = ['GOOG', 'APPL', 'T','TSLA','T','AAPL', 5, 6,5]
```

In [60]:
my_list = ['GOOG', 'APPL', 'T','TSLA','T','AAPL', 5, 6,5]
new_list = list(set(my_list))
print(new_list)

['APPL', 5, 6, 'T', 'TSLA', 'GOOG', 'AAPL']