<a href="https://colab.research.google.com/github/shrishti-04/DataAnalytics_Pandas_Numpy_Matplotlib_Seaborn/blob/master/PythonProg_1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# 1. VARIABLES ASSIGNMENT

In [2]:
# Define a variable named "portfolio_1" and assign a number (integer) to it
portfolio_1 = 20

In [1]:
# Let's view "portfolio_1"
portfolio_1

In [3]:
# Define a variable named "portfolio_2" and assign a number (float) to it
portfolio_2 = 30.5

In [4]:
# Let's view "portfolio_2"
portfolio_2

30.5

In [5]:
# Let's overwrite "portfolio_2" (assume your portfolio value increased)
portfolio_2 = 40.5

In [6]:
# Notice that "portfolio_2" will only contain the most recent value
portfolio_2

40.5

In [7]:
# Get the type of "portfolio_1" which is integer
# integer is a whole number (no decimals) that could be positive or negative
type(portfolio_1)

int

In [8]:
# Get the type of "portfolio_2" which is float
# Float are real numbers with a decimal point dividing the integer and fractional parts
type(portfolio_2)

float

**MINI CHALLENGE #1:**
- **We defined a variable AMZN (Ticker symbol for Amazon stock) and we assigned these 3 values listed below to it. Without executing any code cells, what will these lines of code generate?**
- **Verify your answer by executing the code cells** 



```
AMZN = 3324
AMZN = 3400
AMZN = 3530
AMZN
```

In [9]:
AMZN = 3324
AMZN = 3400
AMZN = 3530
AMZN

3530

**MINI CHALLENGE #2:**
- **We defined a variable AAPL (Ticker symbol for Apple stock) and we assigned these 2 values listed below to it. Without executing any code cells, what will these lines of code generate?**
- **Verify your answer by executing the code cells** 



```
AAPL = 112
AAPL = 115.3
type(AAPL)
```

In [10]:
AAPL = 112
AAPL = 115.3
type(AAPL)

float

# 2. MATH OPERATIONS

In [11]:
# Define a variable named AAPL and initialize it with 5 indicating that we own 5 stocks
# Let's assume that we bought an additional stock so now we have 6 stocks instead of 5 
# We can increment AAPL by 1 stock as follows:
AAPL = 5
AAPL  = AAPL + 1
AAPL

6

In [12]:
# Alternatively, we can increment the variable AAPL by 1 as follows:
AAPL = 5
AAPL+=1
AAPL

6

In [13]:
# Let's assume that the price of AAPL stock is $260 and we currently have 5 AAPL stocks in our portfolio
# We can calculate the total portfolio value (account balance) as follows:
AAPL_price = 260
AAPL_stock = 5
AAPL_portfolio = AAPL_price * AAPL_stock
AAPL_portfolio

1300

In [16]:
# Let's assume you have $20000 USD in our account
# We want to buy AMZN stocks using the total amount 
# AMZN stock is priced at $3116 each
AMZN_price = 20000
AMZN_price

20000

In [18]:
# Divide the account balance by Amazon stock price and place the answer in units
AMZN_stock = 3116
divide = AMZN_price/AMZN_stock
divide

6.418485237483954

**MINI CHALLENGE #3:** 
- **Write a code that calculates the total value of a portfolio assuming that you own 15 Google stocks (Sticker Symbol: GOOG) priced at 1500 each**

In [19]:
GOOG_price = 1500
GOOG_stock = 15
GOOG_portfolio = GOOG_price * GOOG_stock
GOOG_portfolio

22500

**MINI CHALLENGE #4:**
- **Write a code that takes in Google (GOOG) stock prices at two days and calculate the return:**
  - **GOOG price on day 1 = \$260** 
  - **GOOG price on day 2 = \$280**

In [22]:
GOOG_price_1 = 260
GOOG_price_2 = 280
GOOG_diff = GOOG_price_2 - GOOG_price_1
percentage_diff = GOOG_diff/GOOG_price_1 * 100
percentage_diff

7.6923076923076925

# 3. ORDER OF OPERATIONS (PRECEDENCE)

In [23]:
# add 3 and 4 and then multiply the answer by 5
# Note that parantheses have the highest precedence
(3 + 4) * 5

35

In [24]:
# Multiplication has higher precedence compared to addition
1 + 2 * 3

7

In [25]:
# Division has higher precedence compared to addition
16/4 + 25/5

9.0

**MINI CHALLENGE #5:**
- **Assume that you own 15 shares of AAPL stock priced at \$150 a share. Apple announced the launch of 5 new products with exceptional features so the stock price increased to $170 a share. Calculate the total profit.**

In [26]:
AAPL_old = 150
AAPL_new = 170
AAPL_profit = (AAPL_new - AAPL_old) * 15
AAPL_profit

300

**MINI CHALLENGE #6:** 
- **Write a code that performs the following mathematical operation: z = |x âˆ’ y| * (x + y)**

In [27]:
x = 4
y = 2
z = abs(x - y)*(x + y)
z

12

# 4. PRINT OPERATION

In [28]:
# Print function is used to print elements on the screen
# Define a string x 
# A string in Python is a sequence of characters
# String in python are surrounded by single or double quotation marks
x = 'I work in Amazon company'
x

'I work in Amazon company'

In [29]:
# Obtain the data type for 'x'
type(x)

str

In [30]:
# Print x
print(x)

I work in Amazon company

In [31]:
# Define a string and put 'Apple Inc.' in it
company_name = 'Apple Inc.'

In [33]:
# The format() method formats the specified value and insert it in the placeholder. 
# The placeholder is defined using curly braces: {}
print('The ticker name for {} company is AAPL'.format(company_name))

The ticker name for Apple Inc. company is AAPL

In [34]:
# You can place two or more placeholders with print function 
shares = 50
print('I own {} shares of {}'.format(shares, company_name))

I own 50 shares of Apple Inc.

**MINI CHALLENGE #7:**
- **Write a code that print out the above statement along with AAPL ticker**
- **i.e.: I own 30 shares of Apple Inc.(AAPL)**

In [37]:
ticker = 'AAPL'
print('I own {} shares of {} ({})'.format(shares, company_name, ticker))

I own 50 shares of Apple Inc. (AAPL)

# 5. GET USER INPUT

In [38]:
# input is a built-in function in python
# Get bank client name as an input and print it out on the screen 
name = input('Welcome to our bank, please enter your name: ')

Welcome to our bank, please enter your name: Shrishti Tiwari

In [40]:
name

'Shrishti Tiwari'

In [42]:
# Obtain bank client data such as name, age and assets and print them all out on the screen
name = input('Welcome to our bank, please enter your name: ')
age = input('Please enter your age: ')
networth = input('Please enter your networth (assets - liabilities): ')

print('My name is {}, and I am of {} years of old. My total networth is {}'.format(name, age, networth))

Welcome to our bank, please enter your name: Shrishti Tiwari
Please enter your age: 20
Please enter your networth (assets - liabilities): 2500
My name is Shrishti Tiwari, and I am of 20 years of old. My total networth is 2500

In [43]:
# Obtain user inputs, perform mathematical operation, and print the results 
# Note: Are you getting an error? Move to the next code cell 
x = input('Enter the price of Google stock today: ')
y = input('Enter the number of stock you want to buy: ')
z = x * y
print('Total funds required to buy {} shares of Google stock at {} dollars is {}'.format(x, y, z))

Enter the price of Google stock today: 2500
Enter the number of stock you want to buy: 15

TypeError: ignored

In [44]:
# Convert from string datatype to integer datatype prior to performing addition
x = input('Enter the price of Google stock today: ')
x = int(x)
y = input('Enter the number of stock you want to buy: ')
y = int(y)
z = x * y
print('Total funds required to buy {} shares of Google stock at {} dollars is {}'.format(x, y, z))

Enter the price of Google stock today: 2500
Enter the number of stock you want to buy: 15
Total funds required to buy 2500 shares of Google stock at 15 dollars is 37500

**MINI CHALLENGE #8:** 
- **Write a code that takes in the name of the stock, price at which it is selling, the number of stocks that you want to own and prints out the total funds required to buy this stock. Find a sample expected output below:**

  - Enter the price of the stock you want to buy: 3000  
  - Enter the number of stocks that you want to buy: 5
  - Enter the name of the stock that you want to buy: AMZN
  - The total funds required to buy 5 number of AMZN stocks at 3000 is 15000

In [46]:
a = input('Enter the price of the stock you want to buy: ')
a = int(a)
b = input('Enter the number of stocks that you want to buy: ')
b = int(b)
c = input('Enter the name of the stock that you want to buy: ')
d = a * b

print('The total funds required to buy {} numbers of {} stocks at {} is {}'.format(a, b, c, d))

Enter the price of the stock you want to buy: 2400
Enter the number of stocks that you want to buy: 3
Enter the name of the stock that you want to buy: AAPL
The total funds required to buy 2400 numbers of 3 stocks at AAPL is 7200

# EXCELLENT JOB