<a href="https://colab.research.google.com/github/shrishti-04/DataAnalytics_Pandas_Numpy_Matplotlib_Seaborn/blob/master/Comparison_LogicalOperators_Conditional_Statements.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# 1. COMPARISON OPERATORS

In [1]:
# Comparison Operator output could be "True" or "False"
# Let's cover equal '==' comparison operator first
# It's simply a question: "Is stock_1_price equals stock_2_price or not?"
# "True" output means condition is satisfied 
# "False" output means Condition is not satisfied (condition is not true) 

stock_1_price = 2000
stock_2_price = 2000

stock_1_price == stock_2_price

True

In [2]:
# Greater than or equal operator '>='
stock_1_price = 4000
stock_2_price = 2000

stock_1_price >= stock_2_price

True

In [3]:
# Note that '==' is a comparison operator 
# Note that '=' is used for variable assignment (put 10 in stock_1_price)
stock_1_price = 10

In [4]:
stock_1_price

10

In [5]:
# Comparison operators work with strings as well
'finance' == 'finance'

True

In [6]:
# Both strings have to exactly match (lower case vs. upper case)
'Finance' == 'finance'

False

In [7]:
# Not equal comparison operator '!='
stock_1_price = 5000
stock_2_price = 3000

stock_1_price != stock_2_price

True

**MINI CHALLENGE #1:**
- **Without executing the code cell, What will this code generate?**

```
stock_1_price = 15
stock_2_price = 10

print(stock_1_price == stock_2_price) 
print(stock_1_price != stock_2_price) 
print(stock_1_price > stock_2_price)
print(stock_1_price < stock_2_price) 
```

In [8]:
stock_1_price = 15
stock_2_price = 10

print(stock_1_price == stock_2_price) 
print(stock_1_price != stock_2_price) 
print(stock_1_price > stock_2_price)
print(stock_1_price < stock_2_price)

False
True
True
False

# 2. LOGICAL OPERATORS

In [9]:
# For "and" logical operators, both arguments must be "True" in order for the output to be "True" 
# (Note that this is the only case in which the 'and' logical operator generates a True output)
# 1 and 1 = 1
True and True

True

In [10]:
# 0 and 1 = 0
False and True

False

In [11]:
# 0 and 0 = 0
False and False

False

In [12]:
# For "or" logical operators, if any one of the arguments is "True", the output will be "True" 
# 1 or 1 = 1
True or True

True

In [13]:
# 1 or 0 = 1
True or False

True

In [14]:
# 0 or 1 = 1
False or True

True

In [15]:
# 0 or 0 = 0 (Note that this is the only case in which the 'or' logical operator generates a False output)
False or False

False

In [16]:
 # True and False = False 
(10 > 7) and (9 == 3)

False

In [17]:
# True or False = True
(3 < 8) or (5 == 10)

True

**MINI CHALLENGE #2:**
- **Without executing the code cell, What will these two lines of code generate?**

```
print('FINANCE'!='FINANCE' and (10 > 3) and (20 == 20)) 
```

```
print('Finance'!='FINANCE' or (16 > 20) or (25 == 25)) 
```

In [22]:
# False and True and True
print('FINANCE'!='FINANCE' and (10 > 3) and (20 == 20))

False

In [23]:
# False or False or True
print('Finance'!='FINANCE' or (16 > 20) or (25 == 25))

True

**MINI CHALLENGE #3:**
- **Without executing the code cell, What will these two lines of code generate?**

```
a = 5
b = 3.5

print(a == b or a != b) 
print(a == b and a != b) 
```

In [20]:
a = 5
b = 3.5 

print(a == b or a != b)
print(a == b and a != b)

True
False

# 3. CONDITIONAL STATEMENTS

- A simple if-else statement is written in Python as follows:

```
if condition:
  statement #1
else:
  statement #2
```

- If the condition is true, execute the first indented statement
- if the condition is not true, then execute the else indented statements. 
- Note that Python uses indentation (whitespace) to indicate code sections and scope.

In [28]:
if 10 > 3:
  print('This statement is True')
else:
  print('This statement is False')

This statement is True

In [25]:
if 8 < 6:
  print('This statement is True')
else:
  print('This statement is False')

This statement is False

In [29]:
if 'ShriShti' == 'Shrishti':
  print('This statement is False')
elif 'ShriShtI' == 'shrishti':
  print('This statement is False')
else:
  print('This statement is True')

This statement is True

In [30]:
if 'HELLO' == 'Hello':
  print('This statement is False')
elif 'Hello' == 'Hello':
  print('This statement is True')
else:
  print('This statement is Null')

This statement is True

In [31]:
# Let's take an input from the user and grant or deny access accordingly
name = input('Enter your name: ')

if name == 'Shrishti':
  print('Access granted')
else:
  print('Access denied')

Enter your name: shrishti
Access denied

In [33]:
# Let's make the code more robust (case insensitive)
name = input('Enter your name: ')

if name == 'Shrishti' or name == 'SHRISHTI' or name == 'shrishti':
  print('Access granted')
else:
  print('Access denied')

Enter your name: SHRISHTI
Access granted

**MINI CHALLENGE #4:**
- **Write a code that takes a number from the user and indicates if it's positive or negative**

In [50]:
number = int(input('Enter any number: '))

if number > 0:
  print('The number you have entered is POSITIVE')
elif number < 0:
  print('The number you have entered is NEGATIVE')
else:
  print('The number is ZERO')

Enter any number: -2
The number you have entered is NEGATIVE

**MINI CHALLENGE #5:**
- **Write a code that takes a number from the user and checks if the number is divisible by 3 but is not a multiple of 7**

In [44]:
numbers = int(input('Enter your number: '))

if (numbers % 3 == 0) and (numbers % 7 != 0):
  print('This is correct number')
else:
  print('This is wrong number')

Enter your number: 21
This is wrong number

**MINI CHALLENGE #6:** 
- **Write a code that takes a number from the user and indicate if the number is even or odd**

In [47]:
even_odd_no = int(input('Enter your age: '))

if (even_odd_no % 2 == 0):
  print('You are even')
else:
  print('You are odd')

Enter your age: 21
You are odd