<a href="https://colab.research.google.com/github/shrishti-04/DataAnalytics_Pandas_Numpy_Matplotlib_Seaborn/blob/master/For_While_Loops.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# 1. FOR LOOPS

In [ ]:
# For loops are used for iterating over a sequence (a list, a tuple, a dictionary, a set, or a string).
# An action can be executed once for each item in a list, tuple of the for loop.
my_list = [1, 2, 3]
my_list

[1, 2, 3]

In [ ]:
for i in my_list:
  print(i)

1
2
3

In [ ]:
# you can do more than one task for every loop such as printing out 'Hello world' 
for i in my_list:
  print(i)
  print('Hello World')

1
Hello World
2
Hello World
3
Hello World

In [ ]:
# List of strings
my_list = ['AAPL', 'GOOG', 'T', 'TSLA', 'SP500']
my_list

['AAPL', 'GOOG', 'T', 'TSLA', 'SP500']

In [ ]:
for i in my_list:
  print(i)

AAPL
GOOG
T
TSLA
SP500

In [ ]:
# you can loop over a string as follows
for i in 'TSLA':
  print(i)

T
S
L
A

**MINI CHALLENGE #1:**
- **Write a code that takes in a string and prints it out on the screen except for any letter 'T'. You can replace the letter 'T' with '*'.**

In [ ]:
for i in 'TTSGJVNTATTG':
  if i == 'T':
    print('*')
  else:
    print(i)

*
*
S
G
J
V
N
*
A
*
*
G

# 2. RANGE

In [ ]:
# Range() generates a list of numbers, which is used to iterate over with for loops.
# range() is 0-index based, meaning list indexes start at 0, not 1. 
# The last integer generated by range() is up to, but not including, last element. 
# Example: range(0, 10) generates integers from 0 up to, but not including, 10.

In [ ]:
for i in range(6):
  print(i)

0
1
2
3
4
5

In [ ]:
# Range of numbers from 1 to 20 with steps of 2
for i in range(1, 20, 2):
  print(i)

1
3
5
7
9
11
13
15
17
19

In [ ]:
for i in reversed(range(10)):
  print(i)

9
8
7
6
5
4
3
2
1
0

**MINI CHALLENGE #2:**
- **Write a code that takes in the maximum and minimum limits from the user and prints out even numbers only between the provided range**

In [ ]:
min_price = int(input('Enter the minimum price(lower bound): '))
max_price = int(input('Enter the maximum price(upper bound): '))

for i in range(min_price, max_price):
  if (i % 2 == 0):
      print(i)

Enter the minimum price(lower bound): 19
Enter the maximum price(upper bound): 41
20
22
24
26
28
30
32
34
36
38
40

**MINI CHALLENGE #3:**
- **Write a code that generates the following table:**
```
1   1    1
2   4    8
3   9   27
4  16   64
5  25  125
6  36  216
7  49  343
8  64  512
9  81  729
10 100 1000
```

In [ ]:
for x in range(1, 11):
  print('{}  {}  {}'.format(x, x*x, x*x*x))

1  1  1
2  4  8
3  9  27
4  16  64
5  25  125
6  36  216
7  49  343
8  64  512
9  81  729
10  100  1000

# 3. WHILE LOOPS

In [ ]:
# While loop can be used to execute a set of statements as long as a certain condition holds true.
i = 0

while i<=15:
  print(i)
  i = i + 1

0
1
2
3
4
5
6
7
8
9
10
11
12
13
14
15

**MINI CHALLENGE #4:**
- **Write a code that displays numbers from 1 to 30 using for and while loops**

In [ ]:
i = 1

while i<31:
  print(i)
  i = i + 1

1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20
21
22
23
24
25
26
27
28
29
30

In [ ]:
for i in range(1, 31):
  print(i)

1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20
21
22
23
24
25
26
27
28
29
30

**MINI CHALLENGE #5:**
- **Create a rolling dice game that assume we have two dice (#1 and #2). The dice is being thrown and a random number is generated everytime. The game should be designed such that it prompts the user to ask if he/she would like to keep playing or exit the game.**

In [ ]:
import random
rolling_dice = 'y'

while rolling_dice == 'y':
  print('Rolling the dice please wait!!')
  print('The results for #dice1 is: ', random.randint(1, 6))
  print('The results for #dice2 is: ', random.randint(1, 6))
  
  rolling_dice = input('Do you want to roll again? (y/n) ')
  if rolling_dice == 'n':
    print('Thank you!! Come Again')

Rolling the dice please wait!!
The results for #dice1 is:  3
The results for #dice2 is:  2
Do you want to roll again? (y/n) y
Rolling the dice please wait!!
The results for #dice1 is:  5
The results for #dice2 is:  5
Do you want to roll again? (y/n) n
Thank you!! Come Again

### 4. BREAK A LOOP

In [ ]:
# break() is used to exit a for loop or a while loop
# continue() is used to skip the current block, and return to the "for" or "while" statement.

In [ ]:
my_list = ['GOOG', 'AAPL', 'T', 'SP500', 'TSLA']

In [ ]:
my_list

['GOOG', 'AAPL', 'T', 'SP500', 'TSLA']

In [ ]:
# print out all elements in the list
for i in my_list:
  print(i)

GOOG
AAPL
T
SP500
TSLA

In [ ]:
# print out all elements in the list up until the AT&T stock (Ticker Symbol = T) is detected
for i in my_list:
  if i == 'T':
    break
  print(i)

GOOG
AAPL

In [ ]:
# Print only odd elements and skip even numbers
my_list = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
my_list

for i in my_list:
  if i%2 == 0:
    continue
  print(i)

1
3
5
7
9

**MINI CHALLENGE #6:**
- **Write a code that continiously gets data from the user and calculates the average and print out on the screen. The code exits when the user enters 'e'.**

In [ ]:
n = 0
avg = 0

while True:
  x = input('Please enter your number: ')

  if x == 'e':
    break

  x = int(x)
  n = n + 1

  avg = ((avg * (n - 1)) + x) / n
  print('The average of the number you entered is ', avg)

Please enter your number: 2
The average of the number you entered is  2.0
Please enter your number: 4
The average of the number you entered is  3.0
Please enter your number: 7
The average of the number you entered is  4.333333333333333
Please enter your number: e

# 5. NESTED LOOPS

In [ ]:
# Nested loops are loops that exist inside the body of another loop
for i in range(1, 4):   #slow loop
  for j in range(1, 11):   #fast loop
    print('{} * {} = {}'.format(i, j, i*j))

1 * 1 = 1
1 * 2 = 2
1 * 3 = 3
1 * 4 = 4
1 * 5 = 5
1 * 6 = 6
1 * 7 = 7
1 * 8 = 8
1 * 9 = 9
1 * 10 = 10
2 * 1 = 2
2 * 2 = 4
2 * 3 = 6
2 * 4 = 8
2 * 5 = 10
2 * 6 = 12
2 * 7 = 14
2 * 8 = 16
2 * 9 = 18
2 * 10 = 20
3 * 1 = 3
3 * 2 = 6
3 * 3 = 9
3 * 4 = 12
3 * 5 = 15
3 * 6 = 18
3 * 7 = 21
3 * 8 = 24
3 * 9 = 27
3 * 10 = 30

In [ ]:
my_color = ['Black', 'Gold', 'White']
my_phone = ['iphone', 'Samsung', 'BlackBerry']

for c in my_color:
  for p in my_phone:
    print(c, p)

Black iphone
Black Samsung
Black BlackBerry
Gold iphone
Gold Samsung
Gold BlackBerry
White iphone
White Samsung
White BlackBerry

**MINI CHALLENGE #7:**
- **Write a code that takes in a number (range between 1 and 9) from the user and print out the multiplication table up until that number.**

In [32]:
number = int(input('Enter any number from 1 to 9: '))

for x in range(1, number+1):
  for y in range(1, 11):
    print('{} * {} = {}'.format(x, y, x*y))

Enter any number from 1 to 9: 4
1 * 1 = 1
1 * 2 = 2
1 * 3 = 3
1 * 4 = 4
1 * 5 = 5
1 * 6 = 6
1 * 7 = 7
1 * 8 = 8
1 * 9 = 9
1 * 10 = 10
2 * 1 = 2
2 * 2 = 4
2 * 3 = 6
2 * 4 = 8
2 * 5 = 10
2 * 6 = 12
2 * 7 = 14
2 * 8 = 16
2 * 9 = 18
2 * 10 = 20
3 * 1 = 3
3 * 2 = 6
3 * 3 = 9
3 * 4 = 12
3 * 5 = 15
3 * 6 = 18
3 * 7 = 21
3 * 8 = 24
3 * 9 = 27
3 * 10 = 30
4 * 1 = 4
4 * 2 = 8
4 * 3 = 12
4 * 4 = 16
4 * 5 = 20
4 * 6 = 24
4 * 7 = 28
4 * 8 = 32
4 * 9 = 36
4 * 10 = 40

# 6. LIST COMPREHENSION

In [34]:
# List comprehension is an elegant tool to transform one list into another list. 
# Instead of using loops and append, list comprehension is used to iterate over a list, condition its elements and include them in a new list.
# Let's take a look at the traditional way of taking a list and squaring its elements
input_list = [1, 2, 3, 4]
output_list = []

for i in input_list:
  output_list.append(i ** 2)

print(output_list)

[1, 4, 9, 16]

In [36]:
# List comprehension is a super powerful one line of code!
[i**2  for i in input_list  ]

[1, 4, 9, 16]

In [38]:
# Let's square even numbers only 
# We need to insert a condition 
input_number = [1, 2, 4, 5, 6, 7, 8, 9, 10]
output_number = []

for i in input_number:
  if i%2 == 0:
    output_number.append(i ** 2)

print(output_number)

[4, 16, 36, 64, 100]

In [39]:
input_number = [1, 2, 4, 5, 6, 7, 8, 9, 10]
output_number = []

for i in input_number:
  if i%2 == 0:
    output_number.append(i ** 2)

  print(output_number)

[]
[4]
[4, 16]
[4, 16]
[4, 16, 36]
[4, 16, 36]
[4, 16, 36, 64]
[4, 16, 36, 64]
[4, 16, 36, 64, 100]

In [41]:
# All this could be done with one line of code as well using List Comprehension

output_number = [i**2  for i in input_number   if i%2 == 0  ]
output_number

[4, 16, 36, 64, 100]

**MINI CHALLENGE #8:**
- **Write a code that takes in a list of prices of a stock for the past 7 days and then normalize the prices**

In [44]:
print('Enter your prices:')

prices = [int(i)  for i in input().split()  ]

Enter your prices:
3330 3333 3337 3339 3340

In [45]:
prices

[3330, 3333, 3337, 3339, 3340]

In [49]:
normalized_prices = [i/prices[0]  for i in prices  ]
print('Original Prices = {}\nNormalized Prices = {}'.format(prices, normalized_prices))

Original Prices = [3330, 3333, 3337, 3339, 3340]
Normalized Prices = [1.0, 1.000900900900901, 1.0021021021021022, 1.0027027027027027, 1.003003003003003]