<a href="https://colab.research.google.com/github/shrishti-04/DataAnalytics_Pandas_Numpy_Matplotlib_Seaborn/blob/master/Functions.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# 1. BUILT-IN FUNCTIONS

In [1]:
# There are many built-in functions that you can leverage directly 
# Let's define 2 lists x and y
x = [4, 6, 1, 3, 5, 6]
y = list(range(1, 7))

In [2]:
x

[4, 6, 1, 3, 5, 6]

In [3]:
y

[1, 2, 3, 4, 5, 6]

In [4]:
# Let's obtain the length of y
len(y)

6

In [5]:
# Let's obtain the minimum value 
min(x)

1

In [7]:
# Let's obtain the maximum value
max(x)

6

In [8]:
# Let's create a tuple out of the list
z = tuple(x)

In [9]:
z

(4, 6, 1, 3, 5, 6)

In [10]:
type(z)

tuple

In [11]:
# Let's obtain the sum of elements in x
sum(x)

25

**MINI CHALLENGE #1:**
- **Write a code that takes in 2 lists x = [-1 -4 -7] and y = [-3 7 4] and  calculates the absolute sum of all its elements |x+y|**

In [16]:
x = [-1, -4, -7]
y = [-3, 7, 4]

z = abs(sum(x + y))
z

4

# 2. FUNCTIONS

In [17]:
# Let's define a function named "my_function" that does not receive any arguments
# The function simply prints out content and does not return anything
def my_function():
  print('Welcome to my code source')

In [18]:
# Function call
my_function()

Welcome to my code source

In [19]:
# Define a function that takes in argument x and return the squared value 
def square(x):
  return x**2

In [20]:
# Call the function
y = square(3)
y

9

In [21]:
# Define a function with default value 
def my_function(amount = 0.0):
  print('My portfolio worth is: {}'.format(amount))

In [22]:
# If you pass an argument to the function, it overwrites the default value 
my_function(4000)

My portfolio worth is: 4000

In [24]:
# If you don't pass an argument, the default value "20000" will be used instead
my_function()

My portfolio worth is: 0.0

**MINI CHALLENGE #2:** 
- **Write a code that takes in two inputs (number of shares and prices) from the user and calculate the total account balance**

In [29]:
def my_balance(shares, prices):
  amount = shares * prices
  return amount

In [30]:
num_shares = int(input('Enter the number of shares: '))
num_prices = int(input('Enter the price of shares: '))

total_amount = my_balance(num_shares, num_prices)
print('Total account balance in bank is {}'.format(total_amount))

Enter the number of shares: 6
Enter the price of shares: 3500
Total account balance in bank is 21000

# 3. LAMBDA EXPRESSIONS

In [ ]:
# Lambda function is used to create a function without a name 
# Lambda functions are mainly used with filter() and map() [they will be discussed later on]. 
# Lambda function can receive any number of arguments, but can only have one expression.

In [31]:
# let's see how to create a basic function that squares the input
def my_function(x):
  square = x**2
  return square

In [32]:
# Function call
my_function(4)

16

In [33]:
# We can do the same task using Lambda expression
# Note that there is no function name
z = lambda x:x**2

In [34]:
z(5)

25

In [35]:
# Note that lambda expression can take in more than one argument 
# there is only one expression that could be performed
def summation(x, y, z):
  return x+y+z

In [36]:
result = summation(4, 6, 3)
result

13

In [37]:
answer = lambda x, y, z: x + y + z

In [38]:
answer(4, 6, 8)

18

**MINI CHALLENGE #3:**
- **Repeat mini challenge #2 (Write a code that takes in two inputs from the user and calculates the total) using lambda expressions instead**

In [39]:
balance = lambda shares, price: shares*price

In [40]:
shares_num = int(input('Enter the number of shares: '))
price_num = int(input('Enter the price of shares: '))

total_amount = balance(shares_num, price_num)
print('The total bank account balance in bank is {}'.format(total_amount))

Enter the number of shares: 3
Enter the price of shares: 50
The total bank account balance in bank is 150

# 4. MAP

In [41]:
# The map() function takes in a function and a list.
# map() performs an operation on the entire list and return the results in a new list.
# Define two lists a and b
x = [5, 3, 7, 9, 4]
y = [2, 6, 4, 3, 9]

In [42]:
# Let's define a function that adds two elements together
def summation(x, y):
  return x+y

In [43]:
# You can now use map() to apply a function to the entire list and generate a new list
z = list(map(summation, x, y))
z

[7, 9, 11, 12, 13]

In [44]:
# map could be used with Lambda as follows
# lambda function is an anonymous function that take any number of arguments and can only have one expression
input_list = [8, 2, 5, 3]

out_list = list(map(  lambda x:x**2, input_list  ))
out_list

[64, 4, 25, 9]

**MINI CHALLENGE #4:**
- **Write a function that takes an argument and return its cubic value**
- **Define a list of integers ranging from -10 to 10** 
- **Apply the function to the entire list and generate a new output list**

In [46]:
def numbers_cubed(x):
  return x*x*x

In [48]:
integers = list(range(-10, 11))
integers

[-10, -9, -8, -7, -6, -5, -4, -3, -2, -1, 0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [51]:
cubic_value = list(map(lambda x:numbers_cubed(x), integers))
cubic_value

[-1000,
 -729,
 -512,
 -343,
 -216,
 -125,
 -64,
 -27,
 -8,
 -1,
 0,
 1,
 8,
 27,
 64,
 125,
 216,
 343,
 512,
 729,
 1000]

# 5. FILTER

In [55]:
# filter is used to create a list of elements for which a function returns "True".
my_list = [50, 380, 283, 460, 235, 155, 340, 68, 477]
my_list

[50, 380, 283, 460, 235, 155, 340, 68, 477]

In [57]:
# return only even numbers
out = list(filter( lambda x: (x%2 == 0), my_list ))
out

[50, 380, 460, 340, 68]

In [59]:
# Return prices that are greater than or equal 100
out = list(filter(  lambda x: (x >= 100), my_list  ))
out

[380, 283, 460, 235, 155, 340, 477]

In [60]:
# Return age between 200 and 250
out = list(filter(  lambda x: (x >= 200 and x <= 250), my_list ))
out

[235]

**MINI CHALLENGE #5:**
- **Write a code from the user that takes in a range (upper and lower bounds) and returns a list of positive and even numbers only**

In [61]:
min = int(input('Enter the negative number (lower bound): '))
max = int(input('Enter the positive number (upper bound): '))

numbers = range(min, max)
even_positive_number = list(filter(  lambda x: x > 0 and x%2 == 0, numbers  ))
print(even_positive_number)

Enter the negative number (lower bound): -20
Enter the positive number (upper bound): 40
[2, 4, 6, 8, 10, 12, 14, 16, 18, 20, 22, 24, 26, 28, 30, 32, 34, 36, 38]